extend ../layout.pug

block content 
    .bg-white.p-5 
        table.table-auto.w-full
            thead 
                tr.text.center.border-b-2 
                    th
                        p= 'Student Name'
                    th
                        p= 'Appeal'
                    th
                        p= 'Action'
            tbody 
                tr.text-center.border-b-2
                    td.p-5 
                        p= 'Zaim'
                    td.p-5 
                        p= 'I believe I can do it with extra credit hours. Please, I assure it.'
                    td.p-45 
                        a(href="/admin/appeal/idididid/accept", class=['bg-green-500', 'py-2', 'px-4', 'rounded', 'hover:bg-green-700', 'transition', 'm-1'])= 'Accept'
                        a(href="/admin/appeal/idididid/reject", class=['bg-red-500', 'py-2', 'px-4', 'rounded', 'hover:bg-red-700', 'transition', 'm-1']).bg-red-500.py-2.px-4.rounded= 'Reject'
                    

block includeScript 
    