extend ../layout.pug

block content 
    form(method="post") 
        input(type="text", id="courses")
        br
        label(for="course1")= "Software Engineering"
        input(type="checkbox", id="course1", name="courses", value="software-engineering")
        br
        label(for="course2")= "Database Management" 
        input(type="checkbox", id="course2", name="courses", value="database-management")
        br
        label(for="course3")= "Frontend" 
        input(type="checkbox", id="course3", name="courses", value="frontend")
        br
        label(for="course4")= "Backend" 
        input(type="checkbox", id="course4", name="courses", value="backend")
        br
        label(for="course5")= "Server Infrastructure" 
        input(type="checkbox", id="course5", name="courses", value="server-infrastructure")
        br
        button(type="submit", class=['bg-green-500', 'rounded', 'shadow', 'p-3', 'hover:bg-green-400', 'transition'])= "Submit"

block includeScript
    script(src="/adminCourse.js", defer) 
