extend ../layout.pug

block content 
    .bg-white.p-5.rounded.shadow-xl 
        table.w-full.text-center
            thead.border-b-2 
                tr 
                    th
                        p= 'Student Name'
                    th
                        p= 'Subject'
                    th
                        p= 'Grade'
                    th 
                        p= 'Action'
            tbody 
                each exempt in exemptions
                    tr.border-b-2 
                        td.p-6 
                            p= exempt.name
                        td 
                            each name in exempt.names
                                p= name
                        td 
                            each grade in exempt.grades
                                p= grade
                        td 
                            a(href=`/admin/${exempt.userId}/exempt/confirm`, class=['bg-green-500', 'hover:bg-green-300', 'transition', 'py-2', 'px-4', 'rounded', 'm-1'])= 'Accept'
                            a(href=`/admin/${exempt.userId}/exempt/reject`, class=['bg-red-500', 'hover:bg-red-300', 'transition', 'py-2', 'px-4', 'rounded', 'm-1'])= 'Reject'
block includeScript 
    