extend ../layout.pug

block content 
    form(method="post") 
        .bg-white.grid.grid-cols-2.p-2
            .font-bold 
                p= "ID"
            div
                p= userProfile.uid
            .font-bold
                p= "Role"
            div 
                select(id="role")
                    option(value="admin")= "Administrator"
                    option(value="student")= "Student"
            div 
                p= 'Give role'
        input(type="text", id='uid', value=userProfile.uid, hidden)
        button(type="submit").btn= "Submit"
        

block includeScript
    script(src="/userprofile.js", defer) 