doctype html
html(lang="en")
    head
        title= `UCMS - ${title}`
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        script(src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js")
        script(src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js") 
        script(src="/script.js" defer) 
    body.bg-gray-700
        div.container.mx-auto.px-4.m-4
            .bg-gray-300.rounded-md.my-4.flex.items-center.justify-center.py-5
                p.text-4xl= 'UCMS'
            if user.uid
                nav.bg-white.shadow
                    .container.flex.text-white.p-3.justify-end
                        if user.admin
                            a(href="/admin", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Dashaboard"
                            a(href="/admin/courses", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Courses"
                            a(href="/admin/appeal", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Credit Hour Appeals"
                            a(href="/admin/exemption", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Exemption"
                        else 
                            a(href="/student", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Dashboard"
                            a(href="/student/apply", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Courses"
                            a(href="/student/exempt", class=['bg-green-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-green-400', 'transition'])= "Exemption"
                        a(href="/sessionEnd", class=['bg-red-500', 'm-1', 'p-3', 'rounded', 'shadow', 'hover:bg-red-400', 'transition'])= "Log Out"

            .bg-gray-300.rounded-md.my-3.p-4.px-10
                block content 
            .bg-gray-300.rounded-md.my-3.p-4
                footer 
                    p.text-xl.text-center= 'UCMS'
        block includeScript 
        