extend ../layout.pug

block content 
    .bg-white.p-5
        p(class=['text-2xl', 'm-4', 'sm:text-center', 'md:text-left']).text-2xl.m-4= `${user.name}`
        .text-center
            div(id='err', hidden).text-red-500.text-xl= 'Select a Course'
            div(id='appeal', hidden).mt-5
                textarea(placeholder='Fill Your Appeal', id='appealInput', cols='40', class=['p-2', 'border-2', 'border-gray-500', 'focus:border-green-500', 'rounded', 'outline-none'])
            if status 
                p.text-green-500= 'Accepted'
                p.text-red-500= 'Rejected'
            else 
                form 
                    each course, i in courses 
                        label.inline-flex.items-center.mt-3
                            input(type="checkbox", data-credit=course.credit, data-name=course.name, value=course.code).form-checkbox.h-5.w-5.text-blue-600
                            span.ml-2.text-gray-700= `${course.code} - ${course.name} (${course.credit} credit hours)`
                        br
                            //- label.flex.items-center
                            //-     input(type="checkbox", id=i, value=course.id).form-checkbox
                            //-     span.ml-2= `${course.code} - ${course.name}`
                button(id="submit", onclick=`submitApply('${user.uid}')`).bg-green-500.p-3.rounded.m-3= 'Submit'

block includeScript 
    script(src="/studentCourse.js", defer) 